{%  extends 'masterpage.html' %}

{% block CSS %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
  <div class="py-5 text-center">
    <h2>Solicitar Reserva</h2>
    <p class="lead">Por favor completar los datos del formulario para realizar la reserva.</p>
  </div>

  <div class="row">
    <div class="col-md-8 order-md-1">
      <form class="needs-validation" method="POST" action="/restaurants/{{ response['establishment_id'] }}/reserva">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="conmensales">Número de Comensales</label>
            <input type="text" class="form-control" id="conmensales" name="comensales" placeholder="1" value="" required>
            <div class="invalid-feedback">
              Ingresar un número de comensales.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="fecha">Fecha y Hora</label>
          <input type="text" class="form-control" id="fecha" name="fecha" placeholder="2018-06-29 08:15:27.243860" required>
          <div class="invalid-feedback">
            Ingresar fecha y hora.
          </div>
        </div>

        <div class="mb-3">
          <label for="comentario">Comentario</label>
            <textarea  class="form-control" id="comentario" name="comentario" placeholder="" rows="4"></textarea>
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Reservar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
